<h3>Formulário de Aluno</h3>
<form #formUsuario="ngForm">
    <label>Primeiro Nome:</label>
    <input matInput 
    [(ngModel)]="aluno.primeiroNome" name="primeiroNome"><br/>
    <label>Sobrenome Nome:</label>
    <input matInput 
    [(ngModel)]="aluno.sobreNome" name="sobrenome"><br />
    <label>Email:</label>
    <input matInput 
    [(ngModel)]="aluno.email" name="email"><br />
    <label>Idade:</label>
    <input matInput 
    [(ngModel)]="aluno.idade" name="idade"><br />
    <input type="button" title="Salvar" (click)="salvar(aluno)" value="Enviar">
</form>